 /* -------------       GLOBALES      -----------  */


 *, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --azul: #1c222e;
    --naranja: #f26d22;
    --blanco:rgb(255, 255, 255);
    --naranjaOscuro:#9a3821;
    --naranjaMasOscuro : #631c00;
    --grisFondo: #e4e0e0;
    /* --grisFondo:rgb(233, 219, 233);  */
    /* --grisFondo:rgb(231, 226, 231); */
    /* --grisFondo:rgb(220, 213, 230); */
    /* --grisFondo:rgba(216, 202, 216, 0.623); */
    /* --grisFondo:rgba(207, 197, 207, 0.726);  */
    --grisOscuro:#676767;
}

body{
    box-sizing: border-box;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: var(--grisFondo);
}



 /* -------------       NAVBAR      -----------  */
.navbar{
    background-color: var(--grisFondo);
    padding: 1rem 10rem;
    display: flex;
    @media (max-width : 1070px) {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        padding: 1rem 5rem;
    }
}

.navbar-logo{
    width: 10rem;
    -webkit-filter: drop-shadow(1px 1px 1px var(--grisOscuro));
    filter: drop-shadow(1px 1px 1px var(--grisOscuro));
    @media (max-width : 585px) {
        width: 8rem;
    }
}

.contenedor-items{
    display: flex;
    gap: 5rem;
    align-items: center;
    @media (max-width : 1070px) {
        gap: 3rem;
        
    }
    @media (max-width : 585px) {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

.nav-item{
    text-decoration: none;
    color: var(--naranja);
    font-weight: 500;
    font-size: 1.2rem;
    &:hover{
        color: var(--naranjaOscuro);
    }
    @media (max-width : 585px) {
        font-size: 1rem;
    }
}

.sumate{
    background-color: var(--naranja);
    color: white;
    margin-left: -1rem;
    padding: 1rem;
    border-radius: 10%;
    &:hover{
        color: white;
       background-color: var(--naranjaOscuro);
    }
    @media (max-width : 585px) {
        display: none;
    }
}




/* -------------       MAIN      -----------  */

/* clase de utilidad para agregar animacion fadein */
.fadein{   
    -moz-animation: fadein linear both;
    -webkit-animation: fadein linear both;
    animation: fadein linear both;
    
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

}

.fadein-derecha{   
    -moz-animation: fadein-derecha linear both;
    -webkit-animation: fadein-derecha linear both;
    animation: fadein-derecha linear both;
    
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}

.fadein-izquierda{  
    -moz-animation: fadein-izquierda linear both;
    -webkit-animation: fadein-izquierda linear both; 
    animation: fadein-izquierda linear both;
    
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}

.fadein-cohete{  
    -moz-animation: fadein-cohete linear both;
    -webkit-animation: fadein-cohete linear both; 
    animation: fadein-cohete linear both;
    
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}



/* animacion fadein */
@keyframes fadein{
    from{
      opacity: .3;
      -moz-transform: translate(0 500px);
      -webkit-transform: translate(0 500px);
      translate: 0 500px;
      
    }
    to{
      opacity: 1;
      -moz-transform: translate(0 0);
      -webkit-transform: translate(0 0);
      translate: 0 0;
      
  
    }
}

@keyframes fadein-derecha{
    from{
      opacity: .3;
      -moz-transform: translate(-1000px 0);
      -webkit-transform: translate(-1000px 0);
      translate: -1000px 0;
      
    }
    to{
      opacity: 1;
      -moz-transform: translate(0 0);
      -webkit-transform: translate(0 0);
      translate: 0 0;
      
  
    }
}

@keyframes fadein-izquierda{
    from{
      opacity: .3;
      -moz-transform: translate(-500px 0);
      -webkit-transform: translate(-500px 0);
      translate: -500px 0;
      
    }
    to{
      opacity: 1;
      -moz-transform: translate(0 0);
      -webkit-transform: translate(0 0);
      translate: 0 0;
      
  
    }
}

@keyframes fadein-cohete{
    from{
      opacity: .3;
      -moz-transform: translate(-300px 300px);
      -webkit-transform: translate(-300px 300px);
      translate: -300px 300px;
      
    }
    to{
      opacity: 1;
      -moz-transform: translate(0 0);
      -webkit-transform: translate(0 0);
      translate: 0 0;
      
  
    }
}

/* primer div */
.primer-div{
    margin-top: 7rem;
    @media (max-width : 1108px) {
        margin-top: 12rem;
    }
}
.contenido-primer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.texto-primer-div{
    color: var(--grisOscuro);
    font-size: 4rem;
    font-weight: 500;
    @media (max-width : 1070px) {
        font-size: 3rem;
    }
    @media (max-width : 540px) {
        font-size: 2.5rem;
        margin-top:5rem;
    }

}

.texto-primer-div span{
    color: var(--naranja);
    font-weight: 800;
}

.contenido-primer-div .sumate{
    width: fit-content;
    text-transform: uppercase;
    font-size: 1.5rem;
}


/* slider horizontal automatico */
.slider-horizontal {
    width: 100vw;
    height: auto;
    margin: 2rem auto 0;
    /* padding-bottom: 1rem; */
    overflow: hidden;
}

.slider-horizontal .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 24);

}

.slider-horizontal .slide {
    margin: 0 .5rem;
}

.slider-horizontal .slide img {
    margin: .3rem 0;
    border-radius: 3%;
}

/* .slide-solo{
    padding: 2rem 0;
} */

.slide-solo img{
    height: 30rem;
    width: 20rem;
}

.slide-impar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-par img{
    height: 14.7rem;
    width: 12rem;
}

.slide-impar img{
    height: 19rem;
    width: 15rem;
}

.slide-impar .pulgar{
    height: 10.4rem;
    width: 15rem;
    background-color: var(--naranja);
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-600px * 3));
        transform: translateX(calc(-600px * 3));
    }
}


/* slider manual fotos de casas (esta aca porque sino no funciona) */
.slider{
    height: 100vh;
    position: relative;
    margin-top: 2rem;
    @media (max-width:680px) {
        height: 70vh;
    }
}

.content{

    
    h3  {
        color: white;

        font-size: 5rem;
        font-weight: 500;
        margin: 2rem 0;

        @media (max-width:680px) {
            font-size: 3rem;
        }
    }
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: radial-gradient(transparent,  rgba(255, 58, 4, 0.116))
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    bottom: 50%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: var(--naranja);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
    @media (max-width : 680px) {
        width: 70px;
        height: 130px;
        margin-top: 5rem;
    }
    @media (max-width : 420px) {
        width: 50px;
        height: 100px;
        margin-top: 8rem;
    }
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


/* tercer div */
.tercer-div{
    padding: 10rem 2rem;
    @media (max-width:500px) {
        padding: 5rem 1rem;
    }
}
.contenedor-tercer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    @media (max-width:500px) {
        gap: 2rem;
    }
}

.texto-tercer-div{
    color: var(--naranja);
    font-size: 3rem;
    font-weight: 500;
    @media (max-width:500px) {
        font-size: 2rem;
    }

}

.cohete{
    width: 30rem;
    @media (max-width:500px) {
        width: 20rem;
    }
}


/* carrusel con bootstrap patagonia */
.carousel{
    margin-bottom: 5rem;
    background-position: center bottom;
    @media (max-width:800px) {
        display: none;
    }

    h5{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    .d-item{
        height: 95vh;
        
    }
    
    .d-img{
        filter: brightness(0.5);
    }
}


/* quinto y sexto div espejos */
.contenedor-quinto-sexto{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem 2rem 8rem 2rem;
    @media (max-width:680px) {
        flex-direction: column;
        margin: 0;
    }
}

.div-mitad{
    @media (max-width:680px) {
        width: 100%;

    }
    width: 50%;
    padding: 2.5rem 1rem;

    img{
        width: 15em;
    }

}


.quinto-div{

    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:680px) {
        scale: 0.7;
        margin-top: -15rem;
    }

    .texto-quinto-div{
        color: var(--naranja);
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }


    .small{
        font-size: 1.5rem;
        text-shadow: none;
    }

    button{
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: var(--naranja);
        color: white;
        box-shadow:1px 1px 3px var(--naranja);
        &:hover{
            background-color: var(--naranjaMasOscuro);
            box-shadow:1px 1px 3px var(--naranjaMasOscuro);
            color: white;
        }
    }
}

.sexto-div{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--naranja);
    color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 15px var(--naranjaMasOscuro);
    @media (max-width:680px) {
        scale: 0.7;
        margin-top: -15rem;
    }


    .texto-sexto-div{
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }


    .small{
        font-size: 1.5rem;
        text-shadow: none;
    }

    button{
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: white;
        color: var(--naranjaOscuro);
        box-shadow:1px 1px 3px var(--naranjaOscuro);
        &:hover{
            background-color: var(--naranjaOscuro);
            color: white;
        }
    }
}

/* septimo div */
.septimo-div{
    padding: 5rem ;
    background-color: var(--naranja);
    @media (max-width:1000px) {
        padding: 2rem;
    }

    .texto-septimo-div{
        margin: 5rem 0 3rem 0;
        color: var(--blanco);
        font-size: 3.5rem;
        font-weight: 500;
        text-align: center;
        @media (max-width:1000px) {
            font-size: 2rem;
        }
    }
    
    .grid-tarjetas{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        @media (max-width:1000px) {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
    }

    .tarjeta{
        text-align: left;
        margin-top: 1.5rem;
        padding: 5rem 2rem;
        border-radius: 3%;
        width: 30rem;
        height: 20rem;
        box-shadow: 2px 2px 5px #9a3821;
        @media (max-width:1000px) {
            width: 100%;
        }

        h3{
            font-size: 2.5rem;
            font-weight: 600;
            @media (max-width:1000px) {
                font-size: 2rem;
            }
            
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
            @media (max-width:1000px) {
                font-size: 1.2rem;
            }
        }
    }



    .tar-1{
        background-color: #eee;
        color: #ff9100;
    }

    .tar-2{
        background-color: #ff9100;
        color: white;
        h3{
            font-size: 2.2rem;
        }
    }

    .tar-3{
        background-color:#ff9100;
        color:white;
    }

    .tar-4{
        background-color: #eee;
        color: #ff9100;
        @media (max-width:1000px) {
            margin-bottom: 5rem;
        }
    }

    
}






/* -------------       FOOTER      -----------  */
.footer{
    color:var(--naranja);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem 0 1rem 0;

}

.footer-index{
    background-color: var(--naranja);
    color: var(--blanco);
}




 /* -------------       SOBRE NOSOTROS      -----------  */
 .titulo-nosotros{
    margin-top: 10rem;
    text-align: center;
    font-size: 5rem;
    color: var(--naranja);
    @media (max-width:800px) {
        font-size: 3rem;
        margin-top: 20rem;
    }
    @media (max-width:1100px) {
        margin-top: 15rem;
    }
}

.contenedor-imagen-nosotros{
    display: flex;
    margin: 5rem auto;
    justify-content: center;
    img{
        width: 80%;
        border-radius: 2%;
        filter: brightness(1.2);
        @media (max-width:800px) {
            width: 100%;
        }
    }
}

.contenedor-texto-nosotros{
    margin: 5rem 12rem;
    @media (max-width:800px) {
        margin: 5rem ;
    }
}

.texto-nosotros{
    text-align: left;
    font-size: 1.2rem;
    color: var(--naranja);
    font-weight: 600;
    @media (max-width:800px) {
        font-size: 1rem; ;
    }
}




 
/* -------------       SUMATE      -----------  */
.titulo-sumate{
    margin-top: 10rem;
    text-align: center;
    color: var(--naranja);
    font-size: 5rem;
    @media (max-width:1000px) {
        margin-top: 15rem;
    }
}
.form-contenedor{
    border: 1px solid var(--naranja);
    padding: 2rem;
    margin: 5rem auto;
    width: 50%;
    @media (max-width:800px) {
        margin: 1rem auto;
        width: 95%;
    }
        
     button{
        box-shadow: none;
        border: none;
    }
        
    label{
        color: var(--naranja);
    }
}
        
        